<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">MEAN Auth App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto navbar-left">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto navbar-center">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item active">
            <a class="nav-link" (click)="onLogoutClick()" href="#">Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>


        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
